matplotlib==3.7.5
matplotlib-inline
numpy
oauthlib==3.2.2
omegaconf==2.3.0
open3d==0.19.0
opencv-python==4.11.0.86
packaging
pandas==2.0.3
pillow==10.2.0
plyfile
pointops==1.0
pycparser
scikit-learn==1.3.2
scipy
timm
tqdm
trimesh==3.12.7
